body {
    padding-top: 50px;
}

.nav-tabs {
    margin-bottom: 15px;
}

.search{
    min-height:300px;
}

.addB{
    display:inline-block;
    border-radius:6px;
    background-color:#2B5BA1;
    width:30px;
    height:27px;
    color:white;
    
    line-height:27px;
    font-size:15pt;
    text-align: center;
    
    cursor:pointer;
}

.addB:hover{
    background-color:#6491D3;
}


.delB{
    display:inline-block;
    border-radius:6px;
    background-color:#FC5D4A;
    width:30px;
    height:27px;
    color:white;
    
    line-height:23px;
    font-size:25pt;
    text-align: center;
    
    cursor:pointer;
}

.delB:hover{
    background-color:#FB7E70;
}


.img_choice{
    cursor:pointer;
}

.img_choice:hover{
    width:160px;
}

.wish_names{
    width: 150px;
}

.wish_det{
    width:200px;
}