{% extends "base.html" %}

{% block main %}
<h1 class="page-header">Wishlist App</h1>

{% include 'flash_messages.html' %}

<div class="pageintro">
    <p>Create a list of all things you're interested and share it with family and friends.</p>
</div>

<div class="pagemain">
    <p>Register or log in to start adding to your list</p>
    
    <div class="padding">
        <a href="{{ url_for('register') }}" class="btn btn-primary">Sign Up</a>
    </div>
    <div class="padding">
        <a href="{{ url_for('loginUI') }}" class="btn btn-primary">Login</a>
    </div>
    
</div>

<!--
<div ng-app="project" ng-controller="myCtlr2">
    <div class="addB" ng-click="open()">+</div>
    <img ng-repeat="item in flow.wishlist" ng-src="{{item}}" class="col-md-4"></img>
</div>
-->

{% endblock %}

{% block js %}
<script src="../static/js/angular.min.js"></script>
<script src="../static/js/app.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-sanitize.js"></script>
{% endblock %}
