{% extends "base.html" %}

{% block main %}

<div class="reg_cont" ng-app="project" ng-controller="myCtlr">
    <form>
        
        <input type="text" ng-model="fname" placeholder="firstname" required/><br>
        <input type="text" ng-model="lname" placeholder="lastname" required/><br>
        <select ng-model="gender">
            <option>M</option>
            <option>F</option>
            <option>Other</option>
        </select><br>
        <input type="number" ng-model="age" placeholder="age" max="110" required/><br>
        <input type="text" ng-model="uname" placeholder="Username"/><br>
        <input type="password" ng-model="password" placeholder="Password"/><br>
        <input type="password" ng-model="ispassword" placeholder="Confirm password"/><br><br>
        
        
        <!--<button type="button" ng-click="fsubmit()">Register</button>-->
        
        <input type="Submit" name="" ng-click="fsubmit()"/>
        
        <!--<button type="button">Register</button>-->
    </form>
</div>

{% endblock %}

{% block js %}
<script src="../static/js/angular.min.js"></script>
<script src="../static/js/app.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-sanitize.js"></script>
{% endblock %}