{% extends "base.html" %}





{% block main %}

<div class="reg_cont" ng-app="project" ng-controller="myCtlr">
    <h2>Registration</h2><br>
    
    {% include 'flash_messages.html' %}
    
    <form>
        
        <label ng-bind-html="err" style="color:red"></label>
        <div class="form-group">
            <label class="f_label">Firstname: </label><br>
            <input type="text" ng-model="fname" placeholder="firstname" required/><br>
        </div>
        
        <div class="form-group">
            <label class="f_label">Lastname: </label><br>
            <input type="text" ng-model="lname" placeholder="lastname" required/><br>
        </div>
        
        <div class="form-group">
            <label class="f_label">Select Gender: </label><br>
            <select ng-model="gender">
                <option>M</option>
                <option>F</option>
                <option>Other</option>
            </select><br>
        </div>
        <div class="form-group">
            <label class="f_label">Age: </label><br>
            <input type="number" ng-model="age" placeholder="age" max="110" required/><br>
        </div>
        <div class="form-group">
            <label class="f_label">Username: </label><br>
            <input type="text" ng-model="uname" placeholder="Username"/><br>
        </div>
        <div class="form-group">
            <label class="f_label">Password: </label><br>
            <input type="password" ng-model="password" placeholder="Password"/><br>
        </div>
        <div class="form-group">
            <label class="f_label">Re-Enter Password: </label><br>
            <input type="password" ng-model="ispassword" placeholder="Confirm password"/><br><br>
        </div>
        
        <button type="submit" class="btn btn-primary" ng-click="fsubmit()">Register</button>
        
        <!--<input type="Submit" name="" ng-click="fsubmit()"/>-->
        
        <!--<button type="button">Register</button>-->
    </form>
</div>

{% endblock %}

{% block js %}
<script src="../static/js/angular.min.js"></script>
<script src="../static/js/app.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-sanitize.js"></script>
{% endblock %}