{% extends "base.html" %}

{% block main %}
<h1 class="page-header">Wishlist App</h1>

{% include 'flash_messages.html' %}

<p>Welcome !</p><br>
<p>Your current wishlist</p>
<div ng-app="project" ng-controller="myCtlr2">
    <img ng-repeat="item in flow.wishlist" ng-src="{{item}}" class="col-md-4"></img>
</div><br><br>
<a href="{{ url_for('wishlist') }}">Add to Wishlist</a>

{% endblock %}

{% block js %}
<script src="../static/js/angular.min.js"></script>
<script src="../static/js/app.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-sanitize.js"></script>
{% endblock %}
