{% extends "base.html" %}

{% block main %}
<h1 class="page-header">Wishlist App</h1>

{% include 'flash_messages.html' %}

<p>Welcome !</p><br>
<p>Your current wishlist</p>

{% raw %}
<div ng-app="project" ng-controller="myCtlr">
    <div ng-repeat="item in wishlist track by $index">
        <label class="wish_names">{{img_names[$index]}}</label>
        <img ng-src="{{item}}" width="230" class="col-md-4, img-thumbnail"></img>
        <div class="delB" ng-value="img_id[$index]" ng-click="del_wish($event)">-</div>
    </div>
</div><br><br>
{% endraw %}
<a href="{{ url_for('wishlist') }}">Add to Wishlist</a><br><br>
<a href="{{ url_for('share_wishlistUI') }}">Click Here to Share Your Wishlist</a>

{% endblock %}

{% block js %}
<script src="../static/js/angular.min.js"></script>
<script src="../static/js/app.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-sanitize.js"></script>
{% endblock %}
